body {
    background-color: #ebb3c0;
    font-family: 'Comic Sans MS', sans-serif;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("/assets/images/Cherry_blossom_in_Fukuokazeki_sakura_park-CC0.JPG");
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    opacity: 0.8;

    filter: blur(.35px);
    filter: saturate(3);
    
    z-index: -1;
}

#website-container {
    width: 980px;
    margin: 20px auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgb(255, 225, 225);
    border: 0.25px solid black;
    border-radius: 50px;

    overflow: hidden;

    z-index: 1;
}

/* Individual text elements */
a #link {
    color: #003cff;
    text-decoration: none;
}

/* Elements */
#header {
    background: linear-gradient(to bottom, #e23fb9 0%, #e921f0 45%, #de3be4 100%);
    color: white;
    padding: 18px 10px;
    max-height: 75px;

    display: flex;
    align-items: center;
}

#header-logo {
    width: 90px;
    height: auto;
    margin: 0 18px 0 10px;
    border-radius: 50%;
}

#header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-shadow: 3px 3px 5px black;
    margin: 0;
}

#header-text h1 {
    line-height: 1.6;
    margin: 0;
}

#header-text p {
    margin: 0;
    font-size: 18px;
}

#navbar {
    display: flex;
    justify-content: center;
    max-height: 40px;

    gap: 10px;
    padding: 6px 15px;

    background: linear-gradient(to bottom, #2d18ee 0%, #3c4ef1 45%, #0f4bce 100%);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#navbar a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-decoration: none;

    padding: 2px 12px;
    font-size: 16px;
}

#navbar a.active {
    text-decoration: underline;
    text-underline-offset: 4px;
}